/*****************/
/*Modal Style*/
.loginForm
{
  width:100%;
  height:auto;
  margin-left: auto;
  margin-right: auto;
  margin-top:1em;
  background-color:#fff;
  text-align:center;
  padding-top: 10px;
  text-transform: uppercase;
}
.loginForm img
{
  width:50%;
  
}

.regForm
{
  width:100%;
  height:auto;
  margin-left: auto;
  margin-right: auto;
  margin-top:8em;
  background-color:#fff;
  border: 2px solid #E48A23;
  text-align:center;
  padding-top: 10px;
}

.regForm img
{
  width:50%;
}

.txtLogin
{
  width: 90%;
  height:50px;
  margin-bottom:8px;
  font-size:15pt;
  border-top: none;
  border-left:none;
  border-right:none;
  text-align:center;
  font-family: "Bitter",verdana;
  border-bottom: 2px solid rgb(9, 62, 177);
  color: rgb(138, 59, 228);
}

.loginLink
{
  color: hsl(192, 97%, 36%);
  font-family: "Bitter",verdana;
  text-decoration:none;
}

.submit
{
  display: inline-block;
  margin: 0 10px 0 0;
  width:100%;
  height:45px;
  margin-bottom:8px;
  margin-top:8px;
  font-size:15pt;
  font-family: "Bitter",verdana;
  appearance: none;
  box-shadow: none;
  border-radius: 0;
  color: #fff;
  background-color: #3bc492;
  text-shadow: -1px 1px #417cb8;
  border: none;
}
.submit:hover
{
  background-color: #6c7279;
}
::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;  
}

:-ms-input-placeholder {  
   text-align: center; 
}
h4
{
  color: #00aeda;
  text-align: center;
  padding-left: 10px;
}
.premium
{
   width: 100%;
   height:10px;
   font-size:15pt;
   text-align:center;
   color: grey;
   padding-left: 15px;
   padding-right: 15px;
}



